@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4 bg-dark text-white">
            <a href="." class="d-flex align-items-center mb-0 me-auto text-white text-decoration-none">
                <img class="bi me-2" height="55" src="LogoBlackBG.png" />
                <span class="fs-4" style="vertical-align:middle">Brain Crushers</span>
            </a>

            <ul class="nav">
                <li><a href="about" class="nav-link px-2 text-white">About</a></li>
            </ul>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>